Credit: Yi Yang

In [1]:
import sqlite3, csv

In [2]:
# create a connection object that represents the db
connection = sqlite3.connect(database = 'air.db')

In [3]:
# create a cursor object for db traversal
cursor = connection.cursor()

In [4]:
# read csv files and parse them
with open(file = 'flights.csv', mode = 'r') as flights_table:
    dict_reader = csv.DictReader(f = flights_table, delimiter = ',')
    flights_database = [(i['YEAR'], i['MONTH'], i['DAY_OF_MONTH'], \
                         i['DAY_OF_WEEK'], i['OP_UNIQUE_CARRIER'], \
                         i['TAIL_NUM'], i['OP_CARRIER_FL_NUM'], \
                         i['ORIGIN_AIRPORT_ID'], i['DEST_AIRPORT_ID'], \
                         i['CRS_DEP_TIME'], i['DEP_TIME'], i['DEP_DELAY'], \
                         i['CRS_ARR_TIME'], i['ARR_TIME'], i['ARR_DELAY'], \
                         i['CANCELLED'], i['CANCELLATION_CODE'], \
                         i['CRS_ELAPSED_TIME'], i['ACTUAL_ELAPSED_TIME'], \
                         i['AIR_TIME'], i['DISTANCE'], i['CARRIER_DELAY'], \
                         i['WEATHER_DELAY'], i['NAS_DELAY'], \
                         i['SECURITY_DELAY'], i['LATE_AIRCRAFT_DELAY']) \
                        for i in dict_reader]
    
cursor.execute('DROP TABLE IF EXISTS flights;')

cursor.execute('CREATE TABLE flights (YEAR number, MONTH number, \
DAY_OF_MONTH number, DAY_OF_WEEK number, OP_UNIQUE_CARRIER number, \
TAIL_NUM number, OP_CARRIER_FL_NUM number, ORIGIN_AIRPORT_ID number, \
DEST_AIRPORT_ID number, CRS_DEP_TIME number, DEP_TIME number, \
DEP_DELAY number, CRS_ARR_TIME number, ARR_TIME number, ARR_DELAY number, \
CANCELLED number, CANCELLATION_CODE number, CRS_ELAPSED_TIME number, \
ACTUAL_ELAPSED_TIME number, AIR_TIME number, DISTANCE number, \
CARRIER_DELAY number, WEATHER_DELAY number, NAS_DELAY number, \
SECURITY_DELAY number, LATE_AIRCRAFT_DELAY number);')

cursor.executemany('INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);', \
                   flights_database)




with open(file = 'airlines.csv', mode = 'r') as airlines_table:
    dict_reader = csv.DictReader(f = airlines_table, delimiter = ',')
    airlines_database = [(i['OP_UNIQUE_CARRIER'], i['FULL_OP_UNIQUE_CARRIER']) \
                         for i in dict_reader]

cursor.execute('DROP TABLE IF EXISTS airlines;')

cursor.execute('CREATE TABLE airlines (OP_UNIQUE_CARRIER text, \
FULL_OP_UNIQUE_CARRIER text);')

cursor.executemany('INSERT INTO airlines VALUES(?,?);', airlines_database)




with open(file = 'airports.csv', mode = 'r') as airports_table:
    dict_reader = csv.DictReader(f = airports_table, delimiter = ',')
    airports_database = [(i['AIRPORT_ID'], i['FULL_AIRPORT_ID']) \
                         for i in dict_reader]

cursor.execute('DROP TABLE IF EXISTS airports;')

cursor.execute('CREATE TABLE airports (AIRPORT_ID number, \
FULL_AIRPORT_ID text);')

cursor.executemany('INSERT INTO airports VALUES(?,?);', airports_database)




with open(file = 'cancellations.csv', mode = 'r') as cancellations_table:
    dict_reader = csv.DictReader(f = cancellations_table, delimiter = ',')
    cancellations_database = [(i['CODE'], i['CODE_DESCRIPTION']) \
                              for i in dict_reader]

cursor.execute('DROP TABLE IF EXISTS cancellations;')

cursor.execute('CREATE TABLE cancellations (CODE text, \
CODE_DESCRIPTION text);')

cursor.executemany('INSERT INTO cancellations VALUES(?,?);', \
                   cancellations_database)

In [5]:
"""Select the longest flights to each unique destination and order it in \
decreasing order of distance. Select the ORIGINAL_AIRPORT_ID, DEST_AIRPORT_ID, \
and MAX DISTANCE. After ordering by decreasing distance, order by increasing \
origin id, and then by increasing destination id"""

results = cursor.execute("SELECT ORIGIN_AIRPORT_ID, DEST_AIRPORT_ID, \
MAX(DISTANCE) FROM flights GROUP BY DEST_AIRPORT_ID ORDER BY MAX(DISTANCE) \
DESC, ORIGIN_AIRPORT_ID ASC, DEST_AIRPORT_ID ASC;")

    
    

"""Select the destinations that have less than 10 arrivals. Select the \
DEST_AIRPORT_ID (Hint: You will need to group the destinations.)"""

results = cursor.execute("SELECT DEST_AIRPORT_ID FROM flights GROUP BY \
DEST_AIRPORT_ID HAVING COUNT(DEST_AIRPORT_ID) < 10;")

    
    
    
"""Select all of the distinct DAY_OF_MONTH and order them in ascending order."""

results = cursor.execute("SELECT DISTINCT DAY_OF_MONTH FROM flights ORDER BY \
DAY_OF_MONTH ASC;")

In [6]:
# for sample in results:
#     print(sample)

In [7]:
cursor.execute("DELETE FROM flights WHERE YEAR='2020';")

cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'TP','','','','','','','','','','','','','','','','','','','','',''))

In [8]:
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall() 
for sample in results:
    print(sample)

(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, 'TP', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')

In [9]:
cursor.execute("DELETE FROM flights WHERE YEAR = '2020';")

cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'TP','','','','','','','','','','','','','','','','','','','','',''))

In [10]:
"""Update the OP_UNIQUE_CARRIER of the table flights to be 'CS' for YEAR = \
2020. The print all flights where YEAR = 2020 (make sure commit() is used)"""

cursor.execute("UPDATE flights SET OP_UNIQUE_CARRIER = 'CS' WHERE YEAR = \
'2020';")
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall()


    
"""Delete the flight that has the OP_UNIQUE_CARRIER of 'CS'. Then print all \
flights where YEAR = 2020"""

cursor.execute("DELETE FROM flights WHERE OP_UNIQUE_CARRIER = 'CS';")
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall()



"""Select the OP_CARRIER_FL_NUM, ORIGIN_AIRPORT_ID, airports.FULL_AIRPORT_ID, \
and DISTANCE of flights that have trips with more than 4000 miles, tables = \
flights + airports, columns to join = ORIGIN_AIRPORT_ID, AIRPORT_ID, columns \
to match = DISTANCE. Use an INNER JOIN. To only get the unique names, use the \
keyword DISTINCT (i.e., SELECT DISTINCT name.)"""

results = cursor.execute("SELECT DISTINCT flights.OP_CARRIER_FL_NUM, \
flights.ORIGIN_AIRPORT_ID, airports.FULL_AIRPORT_ID, flights.DISTANCE FROM \
(flights INNER JOIN airports ON flights.ORIGIN_AIRPORT_ID = \
airports.AIRPORT_ID) WHERE flights.DISTANCE > 4000 ORDER BY \
flights.ORIGIN_AIRPORT_ID ASC;").fetchall()



"""Select all DISTINCT airport names (FULL_AIRPORT_ID) from the database \
where the airline "Delta Air Lines Inc." has as an Origin Airport \
(ORIGIN_AIRPORT_ID)."""

results = cursor.execute("SELECT DISTINCT airports.FULL_AIRPORT_ID FROM \
(airports INNER JOIN flights ON airports.AIRPORT_ID = \
flights.ORIGIN_AIRPORT_ID) WHERE flights.OP_UNIQUE_CARRIER='DL';").fetchall()



"""Select all DISTINCT carrier names (FULL_OP_UNIQUE_CARRIER) from the \
database, where flights in originating from "New York, NY: LaGuardia" were \
cancelled due to "Weather"."""

results = cursor.execute("SELECT DISTINCT airlines.FULL_OP_UNIQUE_CARRIER \
FROM (((airlines INNER JOIN flights ON airlines.OP_UNIQUE_CARRIER = \
flights.OP_UNIQUE_CARRIER) INNER JOIN airports ON flights.ORIGIN_AIRPORT_ID = \
airports.AIRPORT_ID) INNER JOIN cancellations ON flights.CANCELLATION_CODE = \
cancellations.CODE) WHERE airports.FULL_AIRPORT_ID = 'New York, NY: LaGuardia' \
AND cancellations.CODE_DESCRIPTION = 'Weather';").fetchall()



"""Drop the airlines table from the database. Print the names of all the \
remaining tables in the database"""

cursor.execute("DROP TABLE IF EXISTS airlines;")
results = cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()

In [11]:
for sample in results:
    print(sample)

('flights',)
('airports',)
('cancellations',)

In [12]:
connection.commit()