In [1]:
import sqlite3, csv

In [2]:
connection = sqlite3.connect("air.db")
cursor = connection.cursor()

In [3]:
cursor.execute("DELETE FROM flights WHERE YEAR = '2020';")

cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);", \
               (2020,1,2,7,'TP','','','','','','','','','','','','','','','','','','','','',''))
connection.commit()

In [4]:
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall() 
for sample in results:
    print(sample)

(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 1, 6, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')
(2020, 1, 2, 7, 'TP', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '')

In [5]:
cursor.execute("DELETE FROM flights WHERE YEAR='2020';")
connection.commit()

In [6]:
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);",(2020,1,1,6,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);",(2020,1,2,7,'','','','','','','','','','','','','','','','','','','','','',''))
cursor.execute("INSERT INTO flights VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);",(2020,1,2,7,'TP','','','','','','','','','','','','','','','','','','','','',''))
connection.commit()

In [7]:
"""Update the OP_UNIQUE_CARRIER of the table flights to be 'CS' for YEAR = \
2020. The print all flights where YEAR = 2020 (make sure commit() is used)"""

cursor.execute("UPDATE flights SET OP_UNIQUE_CARRIER = 'CS' WHERE YEAR = \
'2020';")
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall()


    
"""Delete the flight that has the OP_UNIQUE_CARRIER of 'CS'. Then print all \
flights where YEAR = 2020"""

cursor.execute("DELETE FROM flights WHERE OP_UNIQUE_CARRIER = 'CS';")
results = cursor.execute("SELECT * FROM flights WHERE YEAR = '2020';").fetchall()



"""Select the OP_CARRIER_FL_NUM, ORIGIN_AIRPORT_ID, airports.FULL_AIRPORT_ID, \
and DISTANCE of flights that have trips with more than 4000 miles, tables = \
flights + airports, columns to join = ORIGIN_AIRPORT_ID, AIRPORT_ID, columns \
to match = DISTANCE. Use an INNER JOIN. To only get the unique names, use the \
keyword DISTINCT (i.e., SELECT DISTINCT name.)"""

results = cursor.execute("SELECT DISTINCT flights.OP_CARRIER_FL_NUM, \
flights.ORIGIN_AIRPORT_ID, airports.FULL_AIRPORT_ID, flights.DISTANCE FROM \
(flights INNER JOIN airports ON flights.ORIGIN_AIRPORT_ID = \
airports.AIRPORT_ID) WHERE flights.DISTANCE > 4000 ORDER BY \
flights.ORIGIN_AIRPORT_ID ASC;").fetchall()



"""Select all DISTINCT airport names (FULL_AIRPORT_ID) from the database \
where the airline "Delta Air Lines Inc." has as an Origin Airport \
(ORIGIN_AIRPORT_ID)."""

results = cursor.execute("SELECT DISTINCT airports.FULL_AIRPORT_ID FROM \
(airports INNER JOIN flights ON airports.AIRPORT_ID = \
flights.ORIGIN_AIRPORT_ID) WHERE flights.OP_UNIQUE_CARRIER='DL';").fetchall()



"""Drop the airlines table from the database. Print the names of all the \
remaining tables in the database"""

cursor.execute("DROP TABLE IF EXISTS airlines;")
results = cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()
connection.commit()

In [8]:
for sample in results:
    print(sample)

('flights',)
('airports',)
('cancellations',)

In [9]:
connection.commit()